<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card>
    <ion-card-content>
    <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      

      <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-item>  

           <!-- Componente de Angular Material-->
           <mat-form-field>
            <mat-label>DD/MM/YYYY</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">  
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> 
          </mat-form-field>  
 
           
        </ion-item>
      </ion-item>
    </ion-card-content>
      <ion-button (click)="guardar()"  expand="block" fill="clear">Crear cuenta</ion-button>
  </ion-card>
</ion-content>
