.fondo {
  --background: none;
  background-image: url(../../../assets/img/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

/* TARJETA */
ion-card {
  background-color: white;
  border-radius: 12px;
  margin: 10% auto;
  width: 90%;
}

/* LOGO */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.logo-container img {
  width: 60%;
}

/* CAMPOS */
ion-card ion-input,
ion-card ion-label,
ion-card ion-item,
ion-card ion-select {
  --background: transparent;
  color: black;
}

ion-card input,
ion-card select {
  background-color: transparent;
  color: black;
}

/* BOTÓN */
ion-card ion-button {
  --background: #160c00a2;
  color: white;
  padding: 10px;
}

/* FECHA - Angular Material */
.fecha-container {
  padding: 0 20px;
}

mat-form-field {
  width: 100%;
}

input[matInput] {
  background-color: transparent !important;
  color: black;
}

mat-datepicker-toggle {
  background-color: transparent !important;
}

/* TÍTULO CENTRADO */
.center-title {
  margin: 0 auto;
  text-align: center;
}