<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input type="text" [(ngModel)]="nombres" placeholder="Ingresar nombres"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="apellidos" placeholder="Ingresar apellidos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="usuario" placeholder="Ingresar usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="Ingresar correo electrónico"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="Ingresar contraseña"></ion-input>
      </ion-item>

      <!-- FECHA -->
      <ion-item>
        <ion-label>Fecha de Nacimiento</ion-label>
        <div style="font-size: 14px; margin-bottom: 6px; color: black;">
        {{ selectedDate ? (selectedDate | date:'dd/MM/yyyy') : 'DD/MM/YYYY' }}
        </div>  
        <ion-icon 
          name="calendar-outline"
          slot="end"
          size="large"
          style="cursor: pointer;"
          (click)="openDatePicker()">
        </ion-icon>
      </ion-item>

      <!-- MODAL FECHA -->
      <ion-modal #dateModal>
        <ng-template>
          <ion-content class="ion-padding">
            
            <ion-datetime
              presentation="date"
              [(ngModel)]="selectedDate"
              (ionChange)="confirmDate()">
            </ion-datetime>

            <ion-button expand="block" (click)="closeDatePicker()">
              Confirmar
            </ion-button>

          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-card-content>

    <ion-button (click)="guardar()" expand="block">Crear cuenta</ion-button>

  </ion-card>

</ion-content>
