.fondo {
  --background: none;
  background-image: url(../../../assets/img/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

/* TÍTULO CENTRADO */
ion-title {
  margin: 0 auto;    
}

/* TARJETA */
ion-card {
  background-color: white;
  border-radius: 12px;
  margin: 10% auto;
  width: 90%;
}

/* CAMPOS */
ion-card ion-input{  
  --background: transparent;
  color: black;
  font-size: small;    
}

ion-card ion-label {
  --background: transparent;
  color: black;
  font-size: medium;      
}


/* FECHA - Angular Material */
.fecha-container {
  padding: 0 20px;  
}

mat-form-field {
  width: 100%;
}

input[matInput] {
  background-color: transparent !important;
  color: black;
}

mat-datepicker-toggle {
  background-color: transparent !important;
}

/* BOTÓN */
ion-card ion-button {
  --background: #160c00a2;
  color: white;
  padding-bottom: 10px;  
}