<ion-header>
  <ion-toolbar>
    <ion-title>Crear Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Contenido</ion-label>
    <ion-textarea [(ngModel)]="body"></ion-textarea>
  </ion-item>

  <ion-button expand="full" class="ion-margin-top" (click)="crearPost()">
    Guardar
  </ion-button>
</ion-content>