<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualizar mis datos</ion-card-title>
      <ion-card-subtitle>Usuario: {{ user }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input [(ngModel)]="nombres" placeholder="Actualizar mi nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input [(ngModel)]="apellidos" placeholder="Actualizar mis apellidos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="Actualizar mi correo electrónico"></ion-input>
      </ion-item>      

      <ion-button expand="block" color="success" (click)="guardarCambios()">
        GUARDAR CAMBIOS
      </ion-button>

      <ion-button expand="block" color="medium" (click)="limpiarCampos()">
        LIMPIAR CAMPOS
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>