.fondo {
    --background: none;
    background-image: url(../../../assets/img/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

/* Estilo general del perfil */
ion-card {
  margin: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
  background: white;
}

ion-card-title {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  margin-top: 10px;
}

ion-card-subtitle {
  font-size: 1.0rem;
  color: black;
  margin-top: 20px;
}

/* Campos */
ion-item {
  --background: transparent;
  margin-top: 6px;
}

ion-label {
  font-weight: 500;
  color: black;
  font-size: 0.9rem;
}

/* Botones */

.boton {
  margin-top: 16px;
  font-weight: 600;
  border-radius: 10px;  
}

ion-button {
  transition: transform 0.2s ease;
}

ion-button:active {
  transform: scale(0.95);
}