@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

    // Fuente letra //
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

    // Fondo de pantalla //
.login-background {
    --background: none;
    background-image: url(../../assets/img/login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

    // Caja con información //
.login-box {
    width: 90%;    
    max-width: 400px;    
    border-radius: 20px;      
    padding: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;    
}

/* Pantallas pequeñas (celulares chicos) */
@media (max-width: 400px) {
  .login-box {
    width: 95%;
    padding: 15px;
    font-size: 0.9rem;
  }

  ion-card-title {
    font-size: 1.6rem;
  }

  ion-card-subtitle {
    font-size: 1.2rem;
  }
}
/* Pantallas (tablets y escritorio */
@media (min-width: 768px) {
  .login-box {
    max-width: 500px;
    padding: 30px;
  }

  ion-card-title {
    font-size: 2.2rem;
  }

  ion-card-subtitle {
    font-size: 1.6rem;
  }
}

// RutaCoffee //

ion-title {
    color: #552701;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;      
}

ion-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
         
}
    // Bienvenido! //
ion-card-title {
    color: #552701;
    text-align: center;    
    font-size: 2rem;     
}

// La ruta hacia el mejor café // 
ion-card-subtitle {
    --color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;    
}

    // Usuario y contraseña //
ion-item {
    --background: #ffffff;
    --color: black;
    --border-color: black;
    --highlight-color: black;         
}

    // Boton ingresar //
ion-button {
    --background: #552701;
    --color: #fff;
    --border-radius: 20px;       
    margin-top: 2.1rem;
}
    // color cuando escribo //
ion-input {
    color: black;
}
