<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title  class="indie-flower-regular">RutaCoffee</ion-title>
    <div class="= logo-container">
      <img src="../../assets/img/1.png" alt="Logo" class="logo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-background">
  <ion-card-subtitle  class="indie-flower-regular">La ruta hacia el mejor café</ion-card-subtitle> 
 

  <ion-card class="login-box">  
    <ion-card-header>
      <ion-card-title  class="indie-flower-regular">Bienvenido!</ion-card-title>    
    </ion-card-header>

  <ion-card-content  class="indie-flower-regular">

    <ion-item>
      <ion-label position="floating" class="indie-flower-regular">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="indie-flower-regular">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>    

    <ion-button expand="block" (click)= "login()" class="indie-flower-regular">Ingresar</ion-button>

  </ion-card-content>  

  </ion-card>  

</ion-content>
