/* Cambios en img de rutacoffee.png */
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: -20px;     
}

.logo {
    width: 350px;
    height: auto;
    animation: zoomIn 3s ease-in-out infinite alternate;
}

/* Animaci칩n de zoomIn suave */
@keyframes zoomIn {
    0% {
        transform: scale(1);        
    }
    100% {
        transform: scale(0.9);
    }
}

    // Fondo de pantalla //
.login-background {
    --background: none;
    background-image: url(../../../assets/img/fondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

    // Caja con informaci칩n //
.login-box {
    width: 90%;    
    max-width: 400px;    
    border-radius: 20px;      
    padding: 20px;
    text-align: center;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;    
}

/* Pantallas peque침as (celulares chicos) */
@media (max-width: 400px) {
  .login-box {
    width: 95%;
    padding: 15px;
    font-size: 0.9rem;
  }

  ion-card-title {
    font-size: 1.6rem;
  }

  ion-card-subtitle {
    font-size: 1.2rem;
  }
}
/* Pantallas (tablets y escritorio */
@media (min-width: 768px) {
  .login-box {
    max-width: 500px;
    padding: 30px;
  }

  ion-card-title {
    font-size: 2.2rem;
  }

  ion-card-subtitle {
    font-size: 1.6rem;
  }
}

// RutaCoffee //

ion-title {
    color: #552701;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;      
}

ion-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
         
}
    // Bienvenido! //
ion-card-title {
    color: #552701;
    text-align: center;    
    font-size: 2rem;     
}

    // Usuario y contrase침a //
ion-item {
    --background: #ffffff;
    --color: black;
    --border-color: black;
    --highlight-color: black;         
}

    // Boton ingresar //
ion-button {
    --background: #552701;
    --color: #fff;
    --border-radius: 20px;       
    margin-top: 2.1rem;
}
    // color cuando escribo //
ion-input {
    color: black;
}

.registro-text {
  display: block;
  margin-top: 16px;
  text-align: center;
  font-size: 15px;
  color: black;
}

.link {
  color: #000000;
  font-weight: bold;
}

.olvide-text {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.olvide-text span {
  color: black !important;
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}
