<ion-content [fullscreen]="true" class="login-background">
  
    <!-- Imagen del logo -->
   <div class= "logo-container">
    <img src="../../../assets/img/logo.png" alt="Logo" class="logo">
   </div>
 

  <ion-card class="login-box">  
    <ion-card-header>
      <ion-card-title>Bienvenido!</ion-card-title>    
    </ion-card-header>

  <ion-card-content>

    <ion-item>
      <ion-input placeholder="Usuario" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>    

    <ion-button expand="block" (click)="login()">Ingresar</ion-button>    
    
      <ion-text class="registro-text" (click)="registro()">
        ¿No tienes cuenta? <span class="link">Regístrate</span>
      </ion-text>

      <ion-text class="olvide-text">
        <span>¿Olvidaste tu contraseña?</span>
      </ion-text>
  
  </ion-card-content>  

  </ion-card>  

</ion-content>