ion-card-title {
    color: black;
    font-size: 25px;
    text-align: center;    
}

ion-card {
    color: black;
    margin-top: 8%;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;       
}

.contactanos-background {    
    --background: none;
    background-image: url(../../assets/img/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
