#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.subtitulo {
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: #555;
}

// Grid de avatares //
.avatar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 10px;
}

ion-avatar {
  width: 100px;
  height: 100px;
  border: 2px solid #f77e05;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Fondo de pantalla //
.ion-padding {
    --background: none;
    background-image: url(../../assets/img/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.ion-text-center {
  text-align: center;
  color: black;  
}

.ion-text-center-subtitulo {
  text-align: center;
  color: black;
  font-size: large;
}