  <ion-header [translucent]="true">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

    <h2 class="ion-text-center">DATOS PERSONALES</h2>

    <!-- SEGMENT -->
    <ion-segment [(ngModel)]="segmentValue">
      <ion-segment-button value="datos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>

      <ion-segment-button value="experiencia">
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>

      <ion-segment-button value="certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- CONTENEDOR DEL SEGMENT -->
    <div class="segment-content">
      <app-mis-datos *ngIf="segmentValue === 'datos'"></app-mis-datos>
      <app-experiencia-laboral *ngIf="segmentValue === 'experiencia'"></app-experiencia-laboral>
      <app-certificaciones *ngIf="segmentValue === 'certificaciones'"></app-certificaciones>
    </div>

    <ion-router-outlet></ion-router-outlet>

  </ion-content>
  
  <!-- TABS ABAJO -->
  <ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="posts" [routerLink]="['/home/posts']">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias" [routerLink]="['/home/noticias']">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cafes" [routerLink]="['/home/cafes']">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label>Cafés</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>