<!-- Menú lateral -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Perfil -->
      <ion-item routerLink="/profile" routerDirection="forward" (click)="closeMenu()">
        <ion-label>Mi Perfil</ion-label>
      </ion-item>

      <!-- Cafés -->
      <ion-item routerLink="/cafes" routerDirection="forward" (click)="closeMenu()">
        <ion-label>Cafés</ion-label>
      </ion-item>

      <!-- Contáctanos -->
      <ion-item routerLink="/contactanos" routerDirection="forward" (click)="closeMenu()">
        <ion-label>Contáctanos</ion-label>
      </ion-item>

      <!-- Cerrar Sesión -->
      <ion-item (click)="cerrarSesion()">
        <ion-label color="danger">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>        
      </ion-buttons>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

  <h2 class="ion-text-center">DATOS PERSONALES</h2>

  <!-- SEGMENT -->
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="datos">
      <ion-label>Mis Datos</ion-label>
    </ion-segment-button>

    <ion-segment-button value="experiencia">
      <ion-label>Experiencia Laboral</ion-label>
    </ion-segment-button>

    <ion-segment-button value="certificaciones">
      <ion-label>Certificaciones</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- CONTENEDOR DEL SEGMENT -->
  <div class="segment-content">
    <app-mis-datos *ngIf="segmentValue === 'datos'"></app-mis-datos>
    <app-experiencia-laboral *ngIf="segmentValue === 'experiencia'"></app-experiencia-laboral>
    <app-certificaciones *ngIf="segmentValue === 'certificaciones'"></app-certificaciones>
  </div>

</ion-content>
</div>